# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Kemal\Desktop\Classes\CENG 431 Building Software Systems\Projects\Midterm Project 1\TeamsTECH\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
